@font-face {
  font-family: 'Allerta Stencil';
  font-style: normal;
  font-weight: 400;
  src: local('Allerta Stencil Regular'), local('AllertaStencil-Regular'), url(project\aHR0cDovL3d3dy5tdWhhbW1hZG5pYXoubmV0\s\allertastencil\v10\HTx0L209KT-LmIE9N7OR6eiycOe1_Dbz.ttf) format('truetype');
}
